{
  "presets": ["es2015"],
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-parameters",
    "transform-function-bind",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
