{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 80, 4],
    "max-depth": [2, 3],
    "arrow-body-style": [2, "always"],
    "arrow-parens": [2, "always"],
    "arrow-spacing": 2,
    "prefer-arrow-callback": 2,
    "no-extra-semi": 2,
    "handle-callback-err": 2,
    "array-bracket-spacing": [2, "never"],
    "block-spacing": [2, "always"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "vars-on-top": 2,
    "func-style": [2, "declaration"],
    "comma-dangle": [2, "always-multiline"],
    "comma-style": [2, "last"],
    "eol-last": 2,

    "jsx-quotes": [2, "prefer-double"]
  }
}
