---
parent: root
---

<div class="sidebar__box">
  <div class="sidebar__inner">
    <% if (beginFrom('entries')) { %>
      <seciton>
        <h3>タグ一覧</h3>
        <ul>
          <% _.forEach(state.cloud.entry.tags, tag => { %>
            <li>
              <a href="<%= tag.url %>"><%= tag.pageTitle %></a>
            </li>
          <% }) %>
        </ul>
      </section>
      <section>
        <h3>カテゴリー一覧</h3>
        <ul>
          <% _.forEach(state.cloud.entry.categories, category => { %>
            <li>
              <a href="<%= category.url %>"><%= category.pageTitle %></a>
            </li>
          <% }) %>
        </ul>
      </section>
    <% } else if (beginFrom('posts')) { %>
      <seciton>
        <h3>タグ一覧</h3>
        <ul>
          <% _.forEach(state.cloud.post.tags, tag => { %>
            <li>
              <a href="<%= tag.url %>"><%= tag.pageTitle %></a>
            </li>
          <% }) %>
        </ul>
      </section>
      <section>
        <h3>カテゴリー一覧</h3>
        <ul>
          <% _.forEach(state.cloud.post.categories, category => { %>
            <li>
              <a href="<%= category.url %>"><%= category.pageTitle %></a>
            </li>
          <% }) %>
        </ul>
      </section>
    <% } else { %>
      <seciton>
        <h3>タグ一覧</h3>
        <ul>
          <% _.forEach(state.cloud.tags, tag => { %>
            <li>
              <a href="<%= tag.url %>"><%= tag.pageTitle %></a>
            </li>
          <% }) %>
        </ul>
      </section>
      <section>
        <h3>カテゴリー一覧</h3>
        <ul>
          <% _.forEach(state.cloud.categories, category => { %>
            <li>
              <a href="<%= category.url %>"><%= category.pageTitle %></a>
            </li>
          <% }) %>
        </ul>
      </section>
    <% } %>
  </div>
</div>

<main class="main__box">
  <%=contents%>
</main>
