---
parent: pageTopBase
---

<section class="section__box">
  <h1 class="section__headline">Entries</h1>
  <ul class="section__list">
    <% _.forEach(count(state.template.entry, 2), entry => { %>
      <li>
        <a href="<%= entry.url %>"><%= entry.title %></a>
      </li>
    <% }) %>
  </ul>

  <% if (prevPage) { %>
    <a href="<%= prevPage.url %>">←<%= prevPage.title %></a>
  <% } %>

  <% if (nextPage) { %>
    <a href="<%= nextPage.url %>"><%= nextPage.title %>→</a>
  <% } %>
</section>
