---
parent: pageTopBase
---

<section class="section__box">
  <h1 class="section__headline">News</h1>
  <ul class="section__list">
    <% _.forEach(state.template.news, news => { %>
      <li>
        <a href="<%= news.url %>"><%= news.pageTitle %></a>
      </li>
    <% }) %>
  </ul>
</section>

<section class="section__box">
  <h1 class="section__headline"><a href="/entries/">Entries</a></h1>
  <ul class="section__list">
    <% _.forEach(state.template.entry, entry => { %>
      <li>
        <a href="<%= entry.url %>"><%= entry.pageTitle %></a>
      </li>
    <% }) %>
  </ul>
</section>

<section class="section__box">
  <h1 class="section__headline">Posts</h1>
  <ul class="section__list">
    <% _.forEach(state.template.post, post => { %>
      <li>
        <a href="<%= post.url %>"><%= post.pageTitle %></a>
      </li>
    <% }) %>
  </ul>
</section>
